.section-four{
  height: 100vh;
}

.section-four>h4{
  font-family: Raleway;
  margin: 0;
  padding: 30px 30px;

}

.section-four>div{
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  margin-bottom: 40px;
}

.column-image{
  width: 420px;
  height: 500px;
  object-fit: cover;
  object-position: bottom;
}

.column-paragraph{
  margin: 0;
  font-family: Raleway;
  font-weight: 600;
  font-size: 13px;
}

.view-all-new{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  font-size: 15px;
  color: black;
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
}

.view-all-new:hover{
  text-decoration: underline;
}

.credit{
  text-align: center;
  color: black;
  font-size: 10px;
  font-family: Raleway;
  font-weight: 400;
  text-align: center;
}

