.section-four{
  height: 100vh;
  /* padding: 30px 30px; */
}

.section-four>h4{
  font-family: Raleway;
  margin: 0;
  padding: 30px 30px;

}

.section-four>div{
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  margin-bottom: 20px;
}

.column-image{
  width: 420px;
  object-fit: cover;
  object-position: center;
}

.column-paragraph{
  margin: 0;
  font-family: Raleway;
  font-weight: 600;
  font-size: 13px;
}

.view-all-new{
  display: flex;
  justify-content: end;
  padding-right: 30px;
  font-size: 15px;
  color: black;
  font-family: Raleway;
  font-weight: 700;
}


