.section-one{
  background-color: burlywood;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* margin: 0 30px; */
}

.bg-image{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  filter: brightness(70%);
}


/* Header Styling */

.header{
  display: flex;
  z-index: 1000;
  position: absolute;
  right: 30px;
  left: 30px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.link-wrapper{
  display: flex;
  align-items: center;
  width: 90px;
}

.link{
  text-decoration: none;
  color: white;
  font-family: Raleway;
  font-size: 13px;
  margin-right: 13px;
}

/* Body Styling */

.body{
  position: absolute; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 40%;
  right: 20%;
  left: 20%;
  bottom: 50%;
  height: 100px;
  align-items: center;
}

.intro-paragraph{
  text-align: center;
  margin: 0;
  font-size: 13px;
  line-height: 14px;
  font-family: Raleway;
  color: white;
}

.view-collection{
  color: white;
  font-size: 13px;
  margin-top: 10px;
  font-family: Raleway;
  text-decoration: none;
}

.view-collection:hover{
  text-decoration: underline;
}

.supreme-flora{
  position: absolute;
  bottom: -70px;
  font-size: 120px;
  font-family: Raleway;
  color: white;
}

.gg{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
  color: white;
}