.about-section-3{
  min-height: 50vh;
  padding: 30px 30px;
  margin-bottom: 20px;
}

.about-section-3-container{
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gucci-retro{
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: center;
}
.gucci-address{
  height: 240px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogue-wrapper>h4{
  font-family: Raleway;
  margin: 0;
}

.catalogue-wrapper>ul>li{
  font-family: Raleway;
  list-style-type: none;
}