.footer{
  min-height: 40vh;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-line{
  min-width: 100vh;
  height: .5px;
  background-color: rgb(192, 192, 192);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.gucci-logo-2{
  height: 20px;
  margin-bottom: 20px;
}

.footer-link-wrapper{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  height: 205px;
}

.footer-link-wrapper>div{
  flex: 1;
}

.footer-link-wrapper>div:nth-child(5){
  flex: 2;
}


.catalogue-wrapper>ul{
  padding-left: 0;
  list-style: none;
}

.catalogue-wrapper>h4{
  font-family: Raleway;
  margin: 0;
}

.catalogue-wrapper>ul>li{
  font-family: Raleway;
  list-style-type: none;
  padding-left: 0;
  list-style: none;
  line-height: 25px;
  font-weight: 500;
  color: grey;
  cursor: pointer;
  font-size: 15px;
}

.legal-area-wrapper>ul{
  padding-left: 0;
  list-style: none;
}

.legal-area-wrapper>h4{
  font-family: Raleway;
  margin: 0;
}

.legal-area-wrapper>ul>li{
  font-family: Raleway;
  list-style-type: none;
  padding-left: 0;
  list-style: none;
  line-height: 25px;
  font-weight: 500;
  color: grey;
  cursor: pointer;
  font-size: 15px;
}


.socials-wrapper>ul{
  padding-left: 0;
  list-style: none;
}

.socials-wrapper>h4{
  font-family: Raleway;
  margin: 0;
}

.socials-wrapper>ul>li{
  font-family: Raleway;
  list-style-type: none;
  padding-left: 0;
  list-style: none;
  line-height: 25px;
  font-weight: 500;
  color: grey;
  cursor: pointer;
  font-size: 15px;
}


.info-wrapper>ul{
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.info-wrapper>h4{
  font-family: Raleway;
  margin: 0;
}

.info-wrapper>ul>li{
  font-family: Raleway;
  list-style-type: none;
  padding-left: 0;
  list-style: none;
  line-height: 25px;
  font-weight: 500;
  color: grey;
  cursor: pointer;
  font-size: 15px;
}

.subscribe-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mail-input{
  height: 20px;
  width: 180px;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.mail-input::placeholder{
  font-family: Raleway;
  font-size: 8px;
}

.mail-input:focus{
  outline: none;
}

.check-wrapper{
  display: flex;
  justify-content: flex-start;
  width: 188px;
}

.check-wrapper>p{
  font-family: Raleway;
  font-size: 10px;
  margin-left: 10px;
}